.imgBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 800px;
    gap: 8px;
    margin: 0 auto;
}

.imgCard {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.imgCard img {
    width: 200px;
}